/* drop down for categories */

.content{
    position: absolute;
    /* display: none; */
    font-size: 18px;
    background-color: black;
    /* min-width: 100px; */
    right: 180px;
    box-shadow: 5px 8px 15px rgba(0,0,0,0.5);
    border-radius: 10px;
    display: none;
    
    
}


.content a{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.content a:hover{
    background-color: #333;
    color: white;
    transition: 0.5s;
}


.navbar-items :nth-child(2):hover .content {
    display: block;
}

